[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reportlab = "*"
click = "*"
colorama = "*"
pyyaml = "*"
selenium = "*"
jinja2 = "*"
mysql-connector-python = "==8.0.23"
webdriver-manager = "*"
pyppeteer = "*"
pypdf2 = "*"
pdfrw = "*"
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.8"
